/* @media (max-width: 600px) {
    .modal .modal-content{
        width: 40%;
    }
    .modal-content .body h3 {
        font-size: 15px;
    }
    .modal .modal-content .header h2{
        font-size: 20px;
    }
} */

.modal{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 40%, 0.5);
    width: 100%;
    height: 100%;
    /* border: 2px solid white; */
    padding-top: 100px;
}
.modal-content{
    background-color: hsl(0, 0%, 95%);
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 15%);
    /* border: 2px solid; */
    width: 30%;
    margin: auto;
    padding: 10px 10px;
    animation-name: animateModal;
    animation-duration: 0.5s;
}
.cross-icon{
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: hsl(0, 0%, 0%);
}
.cross-icon:hover{
    cursor: pointer;
    color: hsl(0, 0%, 20%);
}
.modal-content .body{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.body h3{
    margin-bottom: 10px;
}
.body .income-expense-select{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.body input{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.footer{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

@keyframes animateModal{
    from{
        top: -150px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}